*{margin: 0;    padding: 0; border: 0;}
a{text-decoration: none; color: black;}
li{list-style-type: none;display: inline-block;}

body{height: 100%;  width: 100%;}
.indexlogo{
    width: 150px;
}
.headerContent{
    display: flex;
    margin: 0 auto;
    max-width: 41.667rem;
    border: 1px solid black;
}
.menuRight{
}