
/*-------------------------- 글꼴  -------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
/*font-family: 'Nerko One', cursive;*/
@font-face {
    font-family: 'FlowerSalt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/FlowerSalt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SANGJUGyeongcheonIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------- 전체 설정 -------------------------------------*/
*{margin: 0; padding: 0; border: none; color: white; }
a{text-decoration: none;}
li{list-style-type: none;display: inline-block;}
body{
    height: 100%;  width: 100%;
    background: linear-gradient(#3e4577, #a5abe0);
    font-family: 'Humanbumsuk'
}

/*-------------------------- 헤더 -------------------------------------*/
.headerContent{
    margin: 35px 0;
    font-size: 20px;
    font-family: 'Humanbumsuk';
}

.login-box{
    text-align: center;
    letter-spacing: 0.2rem;
}

.logout-box{
    text-align: right;
    margin-right: 50px;
}
.menuCenter{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.3rem;
}

/*-------------------------- 푸터 -------------------------------------*/
.index-wrap{
    min-height: 90vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 93px;
}
.footer-content{
    padding: 35px 20px 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 15px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(97, 192, 191,0.6);
}
.footer-left{
    flex-basis: 100%;
    text-align: left;
}
.footer-right{
    flex-basis: 100%;
    text-align: left;
    padding-left: 50px;
}
.footer-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    padding-right: 50px;
    font-size: 30px;
    letter-spacing: .5rem;
}
.footer-center img{
    width: 50px; height: 25px;
    margin-bottom: 5px;
    margin-left: 42%;

}
.footer-center p{
text-align: center;
}
.page-wrap{
    margin: 0 -4rem 1.5rem;
}
.footer-gitlogo{
    width: 40px;
    padding-bottom: 20px;
}


/*------------------------------------메인페이지 -----------------------------------------*/
.fadein{
    text-align: center;
    margin-top: 220px;
    font-size: medium;
    position: relative;
    overflow: hidden;
    animation: fadein 5s ease-in-out;
}
.fadein{

}
@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }

}
.text1{
    font-size: 5rem;
}
.text2{
    font-size: 2.5rem;
}

.star{
    width: 100px;
}