
/*---------------------------- 폰트 ---------------------------------*/
.letterbox-content{
  /*  max-width: 100rem; */
    margin: 0 auto;
    height: 86vh;
    position: relative; /* 추가 */
}
.letterbox-title{
    text-align: center;
    font-size: 2.2rem;
}

/*------------------------ 작성버튼 -------------------------------*/


.btnBox{
    width: 10%;
    position: absolute;
    top: 50%; left: 50%; transform:translateX(-50%) translateY(-50%);
    font-size: 2rem; text-align: center;
}
.btnBox p{
    font-size: 40px;
}
.letterBtn{
    width: 100%; margin-top: 10px;
}

/*------------------------ 편지지 -------------------------------*/
.lettersheet{
    width: 795px;
    height: 600px;
/*    width: 35vw;
    height: 54vh;*/
    position: absolute;
    top: 50%; left:50%; transform:translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 300;
}

.sheetContentWrap{
    width: 795px;
    height: 600px;
    position: relative;

}
.sheetContent{
    width: 100vw;

}
.takep-content{
    position: absolute;
    top : 23%; left : 3.5%;
}
.sendt-content{
    position: absolute;
    top : 28%; left : 3.5%;
    padding: 10px;
    width: 90%;
}
.sendp-content{
    position: absolute;
    bottom : 25%; left : 3.5%;
}

.sheetContentWrap input, textarea{
    background: none;
    color: black;
    outline: none;
}
.takep{
    font-size: 1.5rem;
    font-family: GangwonEdu_OTFBoldA;
    margin-bottom: 0.5%;
}

.sendt{
    padding-bottom: 1%;
    font-family: GangwonEdu_OTFBoldA;
    width: 100%;
    font-size: 1.5rem;
    color: black;
    resize: none;
    height: 24vh;
}
.textCheck{
    position: absolute;
    color: black;
    right: 5%;
    font-size: 1.5rem;
}

.sendp{
    font-size: 1.5rem;
    font-family: GangwonEdu_OTFBoldA;
}
.sentbtnlist{
    position: absolute;
    bottom : 7%; left : 50%; transform: translateX(-50%);
}
.sentbtnlist button{
    padding: 20px;
    font-size: 1rem;
    margin: 10px 10px 0 10px;
    background-color:  rgba(66, 72, 116,0.8) ;
    font-family: 'bitbit';
    letter-spacing: 2px;
}

.arrowRight{
    font-size: 2.7rem;
    position: absolute;
    bottom : 50%; right : -6%;
}
.arrowRight path, .arrowLeft path{
    color : #FFB6B9                 ;
}
.arrowLeft{
    font-size: 2.7rem;
    position: absolute;
    bottom : 50%; left : -6%;
    color: black;
}
/*------------------------ 배경 -------------------------------*/
.parmtree1{
    position: absolute;
    width: 18%;
    top: 42%; right:-10%; transform:translateX(-50%);
}
.parmtree2{
    position: absolute;
    width: 22%;
    bottom: 50%; left: -5%;
}
.moon{
    position: absolute;
    width: 10%;
    top: 3%; right:9%; transform:translateX(-50%);
}
/*------------------- 별 ------------------------------*/
.letterstar{
    position: relative;
    height: 100vh;  /* 추가 */
    width: 100vw;  /* 추가 */
}

.starBox{
    position: absolute; z-index: 100;
}
.starBox p{
    font-size: 19px;
}
.randStar{
    width: 4%;
    animation-name:randStar ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes randStar{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(90deg);
    }
    60%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(270deg);

    }
}

/*------------------------- 토끼 움직임 ---------------------------*/
.rabbit{
    width: 22%; height: 65%;
    position: absolute;
    bottom: 5%; left: 5%;
    background-size: 100% 100%;
    animation-duration: 1s;
    animation-name:rabbit ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes rabbit {
    0%   {
        background-image: url("../../img/rabbit1.png");
    }
/*    25%   {
        background-image: url("../../img/rabbit2.png");
    }
    50%   {
        background-image: url("../../img/rabbit1.png");
    }
    75%   {
        background-image: url("../../img/rabbit2.png");
    }*/
    100%  {
        background-image: url("../../img/rabbit2.png");
    }
}
/*------------------------------- 반응형 편지 작성 페이지 -----------------------------------*/
.resLetterSheetContent{
    width: 100vw;
    height: 85vh;
    position: absolute;
    top: 50%; left:50%; transform:translateX(-50%) translateY(-50%);
}
.imgContainer{
    position: relative;
    width: 100vw;
    height: 85vh;
    background: linear-gradient(#F4EEFF, #DCD6F7);
}
.imgList1,.imgList2, .imgList3,
.imgList4, .imgList5{
    position: absolute;
    width: 32vw;
}
.imgList{
    margin: 0 auto;
}
.sheetImg{
    width:100%
}
.imgList1{top: 6%;right: 8%;}
.imgList2{top: 6%;left: 8%;}
.imgList3{top: 36%;right: 8%;}
.imgList4{top: 36%;left: 8%;}
.imgList5{top: 67%;right: 32%;}

.sheetInfo{
    padding-top: 7px;
    text-align: center;
    font-size: 1.7rem;
}
.sheetInfo p{
    color: black;
}
.selectNext{
    position: absolute;
    bottom: 15%;
    right: 8%;
}
.selectNext button{
    background-color: rgba(66, 72, 116,0.8);
    padding: 20px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: 'bitbit';
}


.resTakepC{

    top : 10%;
    border: 2px solid  rgba(97, 192, 191,0.5);

}
.resTakep{
    margin: 2px;
    border: 2px solid rgba(187, 222, 214,0.6);
    background: transparent;
}
.resSendtC{
    top : 17%;
    border: 2px solid  rgba(97, 192, 191,0.5);
    padding: 5px 8px 0 5px;
    width: 90%;
    height: 48vh;
}
.resSendt{
    height: 42vh;
    border: 2px solid rgba(187, 222, 214,0.6);
}

.resSendpC{
    bottom: 18%;
    border: 2px solid  rgba(97, 192, 191,0.8);
    outline: none
}
.resSendp{
    margin: 2px;
    background: transparent;
    border: 2px solid rgba(187, 222, 214,0.6);
    color: black;
}
.resSendp:focus{
    outline: none;
}
.resBtnList{
    display: flex;
}
.resBtnList button{
    padding: 15px;
    background: linear-gradient(#BBDED6 , #61C0BF);
    font-family: 'bitbit';
    font-size: 1.3rem;
    color: black;
}
/*-------------------------------- 미디어 쿼리 --------------------------------------------*/
@media (max-width: 1069px) {
    .moon{
        width: 20%;
        top : -5%; right : 1%
    }
    .btnBox{
        width: 30%;
    }

}
@media (max-width: 915px) {

    .lettersheet{
        width: 300px;
        height: 700px;
    }
    .starBox p{
        font-size: 15px;
    }

}
@media (max-width: 630px) {
    .imgList1,.imgList2, .imgList3,
    .imgList4, .imgList5{
        width: 40vw;
    }
    .imgList1{top: 6%;right: 8%;}
    .imgList2{top: 6%;left: 8%;}
    .imgList3{top: 31%;right: 8%;}
    .imgList4{top: 31%;left: 8%;}
    .imgList5{top: 58%;right: 32%;}
}
@media (max-width: 490px) {
    .resBtnList button{
        padding: 15px;
        font-size: 1.1rem;
    }
    .resBtnList{
        left: 30%;
        bottom: 4%;
    }
}


/*
@media (max-width: 400px) {
    .imgContainer{
        display: flex;

    }
!*    .imgList1{j}
    .imgList2{top: 6%;left: 8%;}
    .imgList3{top: 31%;right: 8%;}
    .imgList4{top: 31%;left: 8%;}
    .imgList5{top: 58%;right: 32%;}*!
}

*/
