
/*---------------------------- 폰트 ---------------------------------*/
.letterbox-content{
  /*  max-width: 100rem; */
    margin: 0 auto;
    height: 85vh;
    position: relative; /* 추가 */
}
.letterbox-title{
    text-align: center;
    font-size: 2.2rem;
}

/*------------------------ 작성버튼 -------------------------------*/


.btnBox{
    width: 10%;
    position: absolute;
    top: 50%; left: 50%; transform:translateX(-50%) translateY(-50%);
    font-size: 2rem; text-align: center;
}
.btnBox p{
    font-size: 50px;
}
.letterBtn{
    width: 100%; margin-top: 10px;
}

/*------------------------ 편지지 -------------------------------*/
.lettersheet{
    width: 795px;
    height: 600px;
/*    width: 35vw;
    height: 54vh;*/
    position: absolute;
    top: 50%; left:50%; transform:translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 300;
}

.sheetContentWrap{
    width: 795px;
    height: 600px;
    position: relative;

}
.sheetContent{
    width: 100vw;

}
.takep-content{
    position: absolute;
    top : 23%; left : 3.5%;
}
.sendt-content{
    position: absolute;
    top : 28%; left : 3.5%;
    padding: 10px;
    width: 90%;
}
.sendp-content{
    position: absolute;
    bottom : 25%; left : 3.5%;
}

.sheetContentWrap input, textarea{
    background: none;
    color: black;
    outline: none;
}
.takep{
    font-size: 1.5rem;
    font-family: GangwonEdu_OTFBoldA;
    margin-bottom: 0.5%;
}

.sendt{
    padding-bottom: 1%;
    font-family: GangwonEdu_OTFBoldA;
    width: 100%;
    font-size: 1.5rem;
    color: black;
    resize: none;
    height: 24vh;
}
.textCheck{
    position: absolute;
    color: black;
    right: 5%;
    font-size: 1.5rem;
}

.sendp{
    font-size: 1.5rem;
    font-family: GangwonEdu_OTFBoldA;
}
.sentbtnlist{
    position: absolute;
    bottom : 7%; left : 50%; transform: translateX(-50%);
}
.sentbtnlist button{
    padding: 20px;
    font-size: 1rem;
    margin: 10px 10px 0 10px;
    background-color:  rgba(66, 72, 116,0.8) ;
}

.arrowRight{
    font-size: 2.7rem;
    position: absolute;
    bottom : 50%; right : -6%;
}
.arrowRight path, .arrowLeft path{
    color : #FFB6B9                 ;
}
.arrowLeft{
    font-size: 2.7rem;
    position: absolute;
    bottom : 50%; left : -6%;
    color: black;
}
/*------------------------ 배경 -------------------------------*/
.parmtree1{
    position: absolute;
    width: 18%;
    top: 42%; right:-10%; transform:translateX(-50%);
}
.parmtree2{
    position: absolute;
    width: 22%;
    bottom: 50%; left: -5%;
}
.moon{
    position: absolute;
    width: 10%;
    top: 3%; right:9%; transform:translateX(-50%);
}
/*------------------- 별 ------------------------------*/
.letterstar{
    position: relative;
    height: 100vh;  /* 추가 */
    width: 100vw;  /* 추가 */
}

.starBox{
    position: absolute; z-index: 100;
}
.starBox p{
    font-size: 19px;
}
.randStar{
    width: 4%;
    animation-name:randStar ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes randStar{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(90deg);
    }
    60%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(270deg);

    }
}

/*------------------------- 토끼 움직임 ---------------------------*/
.rabbit{
    width: 22%; height: 65%;
    position: absolute;
    bottom: 5%; left: 5%;
    background-size: 100% 100%;
    animation-duration: 1s;
    animation-name:rabbit ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes rabbit {
    0%   {
        background-image: url("../../img/rabbit1.png");
    }
/*    25%   {
        background-image: url("../../img/rabbit2.png");
    }
    50%   {
        background-image: url("../../img/rabbit1.png");
    }
    75%   {
        background-image: url("../../img/rabbit2.png");
    }*/
    100%  {
        background-image: url("../../img/rabbit2.png");
    }
}

/*-------------------------------- 미디어 쿼리 --------------------------------------------*/
@media (max-width: 1069px) {
    .moon{
        width: 20%;
        top : -5%; right : 1%
    }
    .btnBox{
        width: 30%;
    }
}
@media (max-width: 915px) {
    .lettersheet{
        width: 300px;
        height: 700px;
    }
}
