.letterbox-content{
    max-width: 100rem;
    margin: 0 auto;
    height: 85vh;
}
.letterbox-title{
    text-align: center;
    font-size: 2.2rem;
}

/*------------------------ 작성버튼 -------------------------------*/

.letterBtn{
    width: 100%; margin-top: 10px;
}
.btnBox{
    width: 10%;
    position: absolute;
    top: 50%; left: 50%; transform:translateX(-50%) translateY(-50%);
    font-size: 2rem; text-align: center;
}

/*------------------------ 편지지 -------------------------------*/

.lettersheet{
    width: 500px;
    height: 40vh;
    position: absolute;
    top: 30%; left:50%; transform:translateX(-50%);
    border: 1px solid black;
    background-color: #1a374d;
/*    background-image: url("../../img/letter1.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    opacity: 100;z-index: 300;
}

.lettersheet input{
    color: black;
    font-size: 20px;
}

.lettersheet button{
    padding: 20px;
    margin: 10px 10px 0 10px;
}


    /*------------------------ 배경 -------------------------------*/
.parmtree1{
    position: absolute;
    width: 18%;
    top: 42%; right:-10%; transform:translateX(-50%);
}
.parmtree2{
    position: absolute;
    width: 22%;
    bottom: 50%; left: -5%;
}
.moon{
    position: absolute;
    width: 10%;
    top: 13%; right:15%; transform:translateX(-50%);
}
/*------------------- 별 ------------------------------*/
.starBox{
    position: absolute; z-index: 100;
}

.randStar{
    width: 4%;
    animation-name:randStar ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes randStar{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(90deg);
    }
    60%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(270deg);

    }
}

/*------------------------- 토끼 움직임 ---------------------------*/
.rabbit{
    width: 22%; height: 45%;
    position: absolute;
    bottom: 20%; left: 5%;
    background-size: cover;
    animation-duration: 1s;
    animation-name:rabbit ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes rabbit {
    0%   {
        background-image: url("../../img/rabbit1.png");
    }

    100%  {
        background-image: url("../../img/rabbit2.png");
    }
}

