
.login-wrap{
    margin: 0 auto;
    border: 1px solid black;
}
.loginContent{
    margin: 0 auto;
    max-width: 41.667rem;
    border: 1px solid black;
}
.welcometext{
    text-align: center;
    margin: 0 -4rem 3rem;   font-size: 2.5rem;
    border: 1px solid black;
}

/*로그인 연결*/
.sns-login{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
}

.loginContainer{
    position: relative;
    margin: 0 auto;
    width: 300px; height: 85px;
}

.kakao{background-image: url("../../img/kakaotalk_sharing_btn_small.png");}
.naver{background-image: url("../../img/구글버튼.jpg");}
.google{background-image: url("../../img/btnG_아이콘사각.png");}
.loginText{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: 1.5rem 50%;
    background-size: 1.8rem auto;
}
.loginText:hover{
    border-color: #a3a3a3;
    color: #dedede;
}
.kakaologin{
    box-shadow: 5px 5px 5px #1A374D;
}
.kakaologin button{
    background-color: #6998AB;

    /*background-color: rgba(26, 55, 77,0.8);*/
}
