.loginContent{
    margin: 0 auto;
    max-width: 41.667rem;
}
.welcometext{
    text-align: center;
    font-size: 2.2rem;

}
.text1{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.text2{
    font-size: 2.5rem;
}
/*로그인 연결*/
.sns-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px 0;
}

.loginContainer{
    position: relative;
    margin: 0 auto;
    width: 400px; height: 85px;
}

.kakao{background-image: url("../../img/kakaotalk_sharing_btn_small.png");}
.google{background-image: url("../../img/구글버튼.jpg");}
.naver{background-image: url("../../img/btnG_아이콘사각.png");}
.github{background-image: url("../../img/github.png");}
.loginText{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    background-repeat: no-repeat;
    background-position: 1.5rem 50%;
    background-size: 1.8rem auto;
    box-shadow: 2px 2px 4px rgba(97, 192, 191,0.8);
}
.loginText:hover{
    border: 1px solid rgba(97, 192, 191,0.8);
}
button{
    background-color: rgba(187, 222, 214,0.8);
}