/*------------------------ 받은 편지지 -------------------------------*/

.takeLetterSheet{
    width: 795px;
    height: 600px;
    position: absolute;
    top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.sendpBox{
    height: 100px;
    width: 500px;
    color: black;
}
.sendtBox{
    height: 100px;
    width: 500px;
    color: black;
}
