/*------------------------ 받은 편지지 -------------------------------*/

.takeLetterSheet{
    width: 795px;
    height: 600px;
    position: absolute;
    top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.sendpBox{
    position: absolute;
    top : 25%; left : 7%;
    font-size: 1.2rem;
    color: black;
}
.sendtBox{
    position: absolute;
    top : 32%; left : 7%;
    font-size: 1.2rem;
    color: black;
    width: 90%;
}
.senddateBox{
    position: absolute;
    bottom : 10%; right : 7%;
    font-size: 2rem;
    color: black;
}
.xmark{
    font-size: 2rem;
    position: absolute;
    bottom : -7%; right: 1%;
}
.xmark path{
    color: #BBDED6;
}

/*----------------------- 미디어쿼리 ---------------------------*/

.onlyWeb{
    font-size: 2.5em;
    margin: 0 auto;
    position: absolute;
    top:50%; left: 50%; transform: translateX(-50%);
}

