/*------------------------ 받은 편지지 -------------------------------*/

.takeLetterSheet{
    width: 60%; height: 60%;
    position: absolute;
    top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
    background-color: white;
    color: black;
}
.slick-prev::before,
.slick-next::before {
    opacity: 0;
    display: none;
}
.sendpBox{
    height: 100px;
    width: 500px;
    color: black;
}
.sendtBox{
    height: 100px;
    width: 500px;
    color: black;
}
/*
!* the slides *!
.slick-slide {
    margin: 0 27px;
}

!* the parent *!
.slick-list {
    margin: 0 -27px;
}*/
